@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<link href="~/css/CustomStyles.css" rel="stylesheet" />
<link href="~/css/Chatstyles.css" rel="stylesheet" />

<!--Old html code start-->

<section class="msger">
    <div class="onlineUsers">
        <h1>Logged User: <span id="currentUser"></span></h1>
        <h2>Online Users</h2>
    </div>
</section>
<!--Old html code end-->
<!--starting new chat UI-->
<section class="msger">

    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> <h3>Chat with :</h3><div id="chatuser"></div>
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>

    <main class="msger-chat">
        <div class="msg left-msg"></div>
        <div class="msg right-msg"></div>
    </main>

    <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
    </form>

</section>

<!-- Modal content start -->
<div id="myModal" class="modal">
    <div id="modal-content" class="modal-content">
        <span class="close">&times;</span>
        <p><h2>Please Register your preffered User Display Name </h2></p>
        <input type="text" id="userDisplayName" placeholder="User Name" autocomplete="off" />
        <button type="submit" class="userSave" id="Savemodaluser">Save</button>
    </div>
</div>
<!--Modal content end-->
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
